@font-face{font-family:"Orc Horde BB";src:url("../fonts/OrcHordeBB_Reg.ttf") format("truetype");}

*{margin:0;padding:0;}
body{font-family: monospace;}/*font-family:"Orc Horde BB", Fallback, sans-serif;}*/

.mobileWarning{display:none;padding:20px;background:rgba(0,0,0,0.8);border:4px dashed red;color:#fff;font-size:1.5em;z-index:10000;position:absolute;width:50%;margin-left:calc(50% - 25%);margin-top:100px;}
  .mobileWarning-content{}
  .mobileWarning-content button{margin-top:20px;width:100%;height:40px;}

.mainMenu{display:none;height:100vh;width:100%;position:absolute;z-index:1000;font-family:"Orc Horde BB", Fallback, sans-serif;}
  .mainMenu-container{width:35%;color:#eee;position:relative;margin:auto;top:10%;background:rgba(0,0,0,0.25);border:4px ridge #5d3e1d;}
    .mainMenu-content{padding:10px;}
    .mainMenu-content h1{font-size:3.5vw;text-align:center;}
      .mainMenu-content-home ul{list-style:none;}
      .mainMenu-content-home ul li{text-align:center;margin:10px;padding:5px;font-size:2vw;background:rgba(0,0,0,0.25);}
      .mainMenu-content-home ul li:hover{background:rgba(0,0,0,0.5);cursor:pointer;}
      .mainMenu-content-characterSelect{display:none;}

.gameover{display:none;height:100vh;width:100%;position:absolute;z-index:1001;background:#000;color:#ff0000;}
.gameover h1{font-size:10vw;text-align:center;}
.gameover h2{font-size:5vw;text-align:center;}

.gameBoard{height:100vh;background:#7EC0EE;}
.creaturesBoard{max-width:1000px;height:100%;position:relative;margin:auto;}

.actionMenu{display:flex;height:100%;max-width:1000px;margin:auto;}
  .actionMenu-item{flex-grow:1;padding:20px;padding-bottom:0;}
  .actionMenu-item button{width:100%;height:100%;background-image:url("../images/button-background.png");background-size:44px;border:none;font-family:"Orc Horde BB", Fallback, sans-serif;color:#513414;font-size:1.5em;position:relative;}
  .actionMenu-item button:focus{outline:none;}
  .actionMenu-item button:hover{cursor:pointer;color:#5d3e1d;}
  .actionMenu-item button:disabled{color:#aa6737;cursor:not-allowed;}
  .actionMenu-item button::before,
  .actionMenu-item button::after{content:"";position:absolute;top:0;width:17px;height:100%;}
  .actionMenu-item button::before{left:-17px;background-image:url("../images/button-bg-left.png");background-size:17px 44px;}
  .actionMenu-item button::after{right:-17px;background-image:url("../images/button-bg-right.png");background-size:17px 44px;}

.player{height:256px;width:128px;background:blue;position:absolute;bottom:calc(25vh + 95px);left:64px;background:url("../images/player01.png");}
.enemy{height:256px;width:120px;background:red;position:absolute;bottom:bottom:calc(25vh + 95px);right:64px;background:url("../images/enemy01.png");}

.ground{width:100%;height:64px;position:absolute;bottom:calc(25vh + 40px);background-image:url("../images/grass.png");background-repeat:repeat-x;background-size:64px 64px;}

.output{position:absolute;bottom:0;width:100%;background-image:url("../images/dirt.png");background-repeat:repeat;background-size:64px 64px;}
  .output-content{font-size:1.5em;color:#bbb;padding:20px;height:25vh;max-width:1000px;margin:auto;}
    .output-textarea{overflow-y:scroll;height:100%;background:rgba(0,0,0,0.25);border:4px ridge #5d3e1d;}

::-webkit-scrollbar {width: 0.75em;}
::-webkit-scrollbar-track {background:rgba(0,0,0,.25);}
::-webkit-scrollbar-thumb {background-color: #9c7041;}
