* { margin: 0;padding: 0; }
html { height: 100%; }
body {
  background: #eee;
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: #eee url("../images/bg03.jpg");
  background-size: cover;
  background-position: center;
}

.social_media_container {
    width: 100%;
    background: rgba(0,0,0,0.2);
}
.social_media {
  width: 100%;
  max-width: 1000px;
  display: flex;
  margin: 10px auto;
}

.icon {
  width: 100%;
}
.icon div {
  margin: auto;
  width: 64px;
  height: 64px;
  background-size: 64px 64px;
  background-repeat: no-repeat;
  background-position: center;
}
.icon div:hover {
  cursor: pointer;
  opacity: 0.75;
}
.icon_github {
  background-image: url("../images/icons/GitHub-White.svg");
}
.icon_twitter {
  background-image: url("../images/icons/Twitter-White.svg");
}
.icon_other {
  background-image: url("../images/icons/GitHub-White.svg");
}

.logo_container {
  width: 100%;
  margin: auto;
  flex: 1;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: rgba(0,0,0,0.2);
}
.logo {
  flex: 1;
  max-width: 1000px;
  width: 100%;
  height: 100%;
}
.logo svg {
  max-width: 40%;
  max-height: 40%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.st0{fill:#fff;}
.st1{fill:none;stroke:#fff;stroke-width:40;stroke-miterlimit:10;}

.footer_container {
  padding: 5px;
  color: #fff;
  background: rgba(0,0,0,0.2);
}

.footer {
  float: right;
  max-width: 1000px;
}

.order-1 { order: 1; }
.order-2 { order: 2; }
.order-3 { order: 3; }
.order-4 { order: 4; }
.order-5 { order: 5; }
.order-6 { order: 6; }
