* { margin: 0;padding: 0; }
html { height: 100%; }
body {
  background: #eee;
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.social_media {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  display: flex;
  margin: 10px 0;
}

.icon {
  width: 100%;
}
.icon div {
  margin: auto;
  width: 64px;
  height: 64px;
  background-size: 64px 64px;
  background-repeat: no-repeat;
  background-position: center;
}
.icon div:hover {
  cursor: pointer;
  opacity: 0.75;
}
.icon_github {
  background-image: url("../images/icons/GitHub.svg");
}
.icon_twitter {
  background-image: url("../images/icons/Twitter.svg");
}
.icon_other {
  background-image: url("../images/icons/GitHub.svg");
}

.logo_container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  flex: 1;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.logo {
  flex: 1;
  width: 100%;
  height: 100%;
}
.logo svg {
  max-width: 50%;
  max-height: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.st0 {
  fill: #333;
}

.footer_container {
  padding: 5px;
  color: #eee;
  background: #333;
}

.footer {
  margin: auto;
  max-width: 1000px;
}

.order-1 { order: 1; }
.order-2 { order: 2; }
.order-3 { order: 3; }
.order-4 { order: 4; }
.order-5 { order: 5; }
.order-6 { order: 6; }
